certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
psycopg2-binary==2.9.12
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
schedule==1.2.2
SQLAlchemy==2.0.50
typing_extensions==4.15.0
urllib3==2.7.0
